{% extends 'base.html' %}

{% block content %}
<h1>EXPENSES</h1>
<ul class="list-group">
    <li class="list-group-item">Water</li>
    <li class="list-group-item">Sado</li>
    <li class="list-group-item">Energy Drink</li>
    <li class="list-group-item">Water</li>
    <li class="list-group-item">Sado</li>
    <li class="list-group-item">Energy Drink</li>
    <li class="list-group-item">Water</li>
    <li class="list-group-item">Sado</li>
    <li class="list-group-item">Energy Drink</li>
</ul>
{% endblock %}

